{
  "tabWidth": 3,
  "useTabs": false,
  "printWidth": 90,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}